%ul.category-list.categories-container.c
	- @categories.each_with_index do |cat, i|
		- omega = i % 2 != 0 ? 'omega' : ''

		%li{ :class => ['category-item', omega]}

			.box-theme-1
				.category-container.c
					.category-content
						%h2
							= cat[:name]

						%p
							= cat[:description]

						%a.button-1{ :href => "#{categories_path}/#{cat[:id]}" }
							Explore &rsaquo;

					.category-content.omega
						%img{ :src => image_path(cat[:icon_image]) }/