@charset "UTF-8";
/* Author André Drougge */
/* -------------------------------------------------------------------------*/
/* Clearfix */
.c {
  overflow: hidden;
  *zoom: 1;
}

/* -------------------------------------------------------------------------*/
/* Layout */
.static-container {
  *zoom: 1;
  width: 80%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
.static-container:after {
  content: "";
  display: table;
  clear: both;
}

/* -------------------------------------------------------------------------*/
/* Categories grid */
.categories-container li.category-item {
  width: 49.39759%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
.categories-container li.category-item.omega {
  width: 49.39759%;
  float: right;
  margin-right: 0;
  *margin-left: -2%;
  display: inline;
}

.category-container .category-content {
  width: 74.6988%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
.category-container .category-content.omega {
  width: 24.09639%;
  float: right;
  margin-right: 0;
  *margin-left: -2%;
  display: inline;
}

/* -------------------------------------------------------------------------*/
/* Debug */
pre {
  font-family: monospace,Courier;
  white-space: pre-wrap;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* -------------------------------------------------------------------------*/
/* Typography */
* html {
  font-size: 75%;
}

html {
  font-size: 12px;
  line-height: 1.66667em;
}

body {
  font-family: "lucida grande", verdana, sans-serif;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 14px;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

a {
  color: #bbbbbb;
}
a:visited {
  color: #c8c8c8;
}
a:focus {
  color: #bbbbbb;
}
a:hover {
  color: #888888;
}
a:active {
  color: #bbbbbb;
}

p {
  margin-bottom: 10px;
}

.subtle-text {
  font-style: italic;
  font-weight: normal;
}

/* -------------------------------------------------------------------------*/
/* Boxes */
.l-box, .box-theme-1, .box-theme-2, .box-theme-3 {
  display: block;
  padding: 15px;
  margin-bottom: 15px;
}

.box-theme-1 {
  background-color: #ececec;
  color: #a0a0a0;
  border: 1px solid #e7e7e7;
}
.box-theme-1 h1, .box-theme-1 h2 {
  color: #535353;
  border-bottom: 1px dotted lightgrey;
  margin-bottom: 5px;
}
.box-theme-1 h1 .subtle-text, .box-theme-1 h2 .subtle-text {
  color: #a0a0a0;
}

.box-theme-2 {
  border: 1px solid #e7e7e7;
}

.box-theme-3 {
  background-color: #00ab4c;
  color: #abffd0;
}
.box-theme-3 h1, .box-theme-3 h2 {
  font-weight: normal;
}

/* -------------------------------------------------------------------------*/
/* Buttons */
.l-button, .button-1 {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 8px;
  text-decoration: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.l-button:hover, .button-1:hover {
  text-decoration: underline;
}

.button-1 {
  background-color: #00ab4c;
  color: #fff;
}
.button-1:hover, .button-1:visited, .button-1:focus {
  color: #fff;
}

/* -------------------------------------------------------------------------*/
/* Custom */
header {
  height: 100px;
}

#page {
  padding-top: 15px;
}

.category-content.omega {
  position: relative;
  overflow: hidden;
  height: 100px;
  background-color: #e0d6c7;
}
.category-content.omega img {
  position: absolute;
  left: 50%;
  margin-left: -75px;
}
